* { margin: 0;
    padding:0 ;}

body {}

    .topnav {
        background-color: #333;
        overflow: hidden;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      
      /* Change the color of links on hover */
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Add a color to the active/current link */
      .topnav a.active {
        background-color: rgb(0, 65, 56);
        color: white;
      }

    h1
        {font-family: 'Bebas Neue', cursive;
        font-size: 50px;
        font-weight: 700;
        color: whote;
        }

.information { background-image: url(images/design.jpg);
  background-repeat: no-repeat;
background-size: cover;}

.boom{
  display: flex;
  color:rgb(255, 255, 255);
  padding: 20px;
  width: 100%;}

 


.container { margin: 50px;  
    width: 40%;
    padding: 20px;
    color: white
}
.container img { width: 100%;
            ;}

.orange{color: orange;}


.button { text-decoration: none;
   
   background-image: linear-gradient(grey, black);
            padding: 10px 40px;
            font-weight: 700;
            border-radius: 10px;
            color: white;
            border-color: white;

            }

.button:hover {background-color: grey;
                color: white;}
.ciao {text-align: center;
      color: white;
       margin: 0px 0px 20px 0px}
  .teal {color: rgb(1, 68, 68);
        text-shadow: 2px 2px 5px grey;}

  .experience {width: 35%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
  margin-left: 5%;
margin-right: 5%;
padding: 5%;

}
table {border-collapse: collapse;
  }
td {border: 2px solid grey;
  padding: 1px 5px;
}
thead {font-weight: 700;}